.col-md-10.col-xs-12.col-sm-11.no-float.center-block
	.card
		.col-md-10.col-xs-12.col-sm-11.no-float.center-block
			%h1.text-center Editar producto
			= render 'form'

			= link_to 'Ver', @product, class:"btn btn-success"
			\|
			= link_to 'Atras', products_path, class:"btn btn-success"
